<%- include('partials/header'); -%>
<div class="container mt-5">
  <h1>Latest blogs</h1>

  <% if (blogs && blogs.length > 0) { %> <% blogs.forEach(function(blog) { %>
  <div class="card">
    <!-- Render the content of each blog here -->
    <h2><%= blog.title %></h2>
    <p><%= blog.body %></p>
  </div>
  <% }); %> <% } else { %>
  <p>No blogs for now</p>
  <% } %>
</div>
<%- include('partials/footer'); -%>
