<%- include('partials/header'); -%>
<div class="container mt-5">
  <h1>Login</h1>

  <% if (error && error.length >0) { %>
  <div class="alert alert-danger" role="alert"><%= error %></div>
  <% } %> <% if (success && success.length > 0 ) { %>
  <div class="alert alert-success" role="alert"><%= success %></div>
  <% } %>
  <form action="/user/login" method="POST">
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input
        type="text"
        class="form-control"
        id="email"
        name="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
      />
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  <p>Don't have an account? Sign up <a href="/user/signup">here</a></p>
</div>
<%- include('partials/footer'); -%>
